MONGODB_URL = 

SMTP_HOST = 
SMTP_USER = 
SMTP_PASS = 

PORT = 3000

JWT_SECRET =
JWT_EXPIRES_IN = 1d
CLIENT_URL = http://localhost:3000

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY =  
CLOUDINARY_API_SECRET = 